@model Mission08_7Habbits_App.Models.Task

@{
    ViewData["Title"] = "Create New Task";
}

<div class="container">
    <form method="POST">
        <input type="hidden" asp-for="TaskID"/>

        <div class="form group">
            <label asp-for="Title">Title:</label>
            <input asp-for="Title"/>
        </div>
        <br />
        <div class="form group">
            <label asp-for="DueDate">DueDate:</label>
            <input asp-for="DueDate"/>
        </div>
        <br />
        <div class="form group">
            <label asp-for="Quadrant">Quadrant:</label>
            <select asp-for="Quadrant">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <br />
        <div class="form group">
            <label asp-for="CategoryID">Category:</label>
            <select asp-for="CategoryID">
                <option value="">Select a Category</option>
                @foreach (Category category in ViewBag.Categories)
                {
                    <option value="@category.CategoryID">@category.CatName</option>
                }
            </select>
        </div>
        <br />
        <div class="form group">
            <label asp-for="Completed">Completed:</label>
            <select asp-for="Completed">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <br />
        <button type="submit">Save Task</button>

        <div asp-validation-summary="All"></div>
    </form>
</div> 

